.env
venv
venv/
postman_collection.json
__pycache__/
__pycache__
*.py[cod]
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite3-journal
db.sqlite3-wal
.githb/
.github
.idea/
*.log
# adrash-firebase.json
firebase_phone_test.html

# index.html
staticfiles/
media
home.html
render.yaml

adrash-firebase.json
celerybeat-schedule
client_secret_415314508051-5nu9ejr2kgkbppmqjcu1a59akottql72.apps.googleusercontent.com.json
token.pickle
generate_token.py